<section class="content-header">
	<h1 class="text-center">
		Monitoring Kegiatan
	</h1>
</section>
<section class="content">
	<div class="box box-info">
		<div class="box-body">
			<div class="row">
				<div class="col-lg-4 col-xs-12">
					<h4 class="text-center">
						<span>{{$ctrl.data.section.one|date:"dd.MM.yyyy"}}</span>
						<i ng-if="!$ctrl.isReady()" class="fa fa-spin fa-refresh" style="float:left;"></i>
						<i ng-if="$ctrl.isReady()" class="fa fa-arrow-left" title="Previous Day" style="float:left; cursor:pointer;" ng-click="$ctrl.prevDay()"></i>
					</h4>
				</div>
				<div class="col-lg-4 col-xs-12">
					<h4 class="text-center">
						<span>{{$ctrl.data.section.two|date:"dd.MM.yyyy"}}</span>
					</h4>
				</div>
				<div class="col-lg-4 col-xs-12">
					<h4 class="text-center">
						<span>{{$ctrl.data.section.three|date:"dd.MM.yyyy"}}</span>
						<i ng-if="!$ctrl.isReady()" class="fa fa-spin fa-refresh" style="float:right;"></i>
						<i ng-if="$ctrl.isReady()" class="fa fa-arrow-right" title="Next Day" style="float:right;cursor:pointer;" ng-click="$ctrl.nextDay()"></i>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-xs-12">
					<table class="table table-bordered">
						<tr ng-repeat="item in $ctrl.data.items.one">
							<td>{{$index+1}}</td>
							<td>{{item.police_number}}</td>
							<td>{{item.driver_name}}</td>
							<td>{{item.customer_name|limitTo:15}}{{item.customer_name.length > 15 ? '...' : ''}}</td>
							<td>{{item.transaction_time}}</td>
							<td>{{item.ritasi}}</td>
							<td> </td>
						</tr>
					</table>
				</div>
				<div class="col-lg-4 col-xs-12">
					<table class="table table-bordered">
						<tr ng-repeat="item in $ctrl.data.items.two">
							<td>{{$index+1}}</td>
							<td>{{item.police_number}}</td>
							<td>{{item.driver_name}}</td>
							<td>{{item.customer_name|limitTo:15}}{{item.customer_name.length > 15 ? '...' : ''}}</td>
							<td>{{item.transaction_time}}</td>
							<td>{{item.ritasi}}</td>
							<td> </td>
						</tr>
					</table>
				</div>
				<div class="col-lg-4 col-xs-12">
					<table class="table table-bordered">
						<tr ng-repeat="item in $ctrl.data.items.three">
							<td>{{$index+1}}</td>
							<td>{{item.police_number}}</td>
							<td>{{item.driver_name}}</td>
							<td>{{item.customer_name|limitTo:15}}{{item.customer_name.length > 15 ? '...' : ''}}</td>
							<td>{{item.transaction_time}}</td>
							<td>{{item.ritasi}}</td>
							<td> </td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
