<section class="content-header">
  <h1>
    Buat Transaksi
  </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">New Transaction</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Data Transaksi</h3>
        </div>
        <form>
          <div class="box-body">
            <div class="form-group" ng-class="{'has-error': $ctrl.hasError('driver')}">
              <label>Sopir<small class="text-red">*</small></label>
              <oi-select oi-options="item.name for item in $ctrl.list.driver | filter:{flag_active:true}" ng-model="$ctrl.param.driver" placeholder="Pilih Sopir" required></oi-select>
              <span ng-if="$ctrl.hasError('driver')" class="help-block">{{$ctrl.error['driver']}}</span>
            </div>
            <div class="form-group" ng-class="{'has-error': $ctrl.hasError('kenek')}">
              <label>Kenek</label>
              <oi-select oi-options="item.name for item in $ctrl.list.kenek | filter:{flag_active:true}" ng-model="$ctrl.param.kenek" placeholder="Pilih Kenek" required></oi-select>
              <span ng-if="$ctrl.hasError('kenek')" class="help-block">{{$ctrl.error['driver']}}</span>
            </div>
            <div class="form-group" ng-class="{'has-error': $ctrl.hasError('police_number')}">
              <label>No Polisi<small class="text-red">*</small></label>
              <oi-select oi-options="item.police_number for item in $ctrl.list.vehicle | filter:{flag_active:true}" ng-model="$ctrl.param.police_number" placeholder="Pilih Nomor Polisi" required></oi-select>
              <span ng-if="$ctrl.hasError('police_number')" class="help-block">{{$ctrl.error['police_number']}}</span>
            </div>
            <div class="form-group" ng-class="{'has-error': $ctrl.hasError('container_size')}">
              <label>Tipe Kontainer<small class="text-red">*</small></label>
              <oi-select oi-options="item for item in $ctrl.list.container_size" ng-model="$ctrl.param.container_size" placeholder="Pilih Ukuran Kontainer"></oi-select>
              <span ng-if="$ctrl.hasError('container_size')" class="help-block">{{$ctrl.error['container_size']}}</span>
            </div>
            <div class="form-group" ng-class="{'has-error': $ctrl.hasError('customer')}">
              <label>Kustomer<small class="text-red">*</small></label>
              <oi-select oi-options="item.name for item in $ctrl.list.customer | filter:{flag_active:true}" ng-model="$ctrl.param.customer" placeholder="Pilih Kustomer" required></oi-select>
              <span ng-if="$ctrl.hasError('customer')" class="help-block">{{$ctrl.error['customer']}}</span>
            </div>
          </div>
          <div class="box-footer">
            <a class="btn btn-default pull-left" ng-click="$ctrl.back()">Kembali</a>
            <a class="btn btn-info pull-right" ng-show="$ctrl.step_one == false" ng-click="$ctrl.submitStepOne()">Lanjutkan</a>
          </div>
        </form>
        <div class="overlay" ng-if="$ctrl.step_one == true"></div>
        <div class="overlay" ng-if="$ctrl.loading == true">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12" ng-show="$ctrl.step_one == true">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Data Uang Jalan</h3>
        </div>
        <form>
          <div class="box-body">
            <div class="form-group" ng-class="{'has-error': $ctrl.hasError('route')}">
              <label>Rute<small class="text-red">*</small></label>
              <input ng-show="$ctrl.step_two == true" type="text" autocomplete="off" data-lpignore="true" class="form-control readonly" ng-model="$ctrl.param.route.name" readonly>
              <oi-select ng-hide="$ctrl.step_two == true" id="route" oi-options="item.name for item in $ctrl.list.route | filter:{flag_active:true}" oi-select-options="{newItem: true, newItemModel: {id: null, name: $query}}" ng-model="$ctrl.param.route" ng-change="$ctrl.param.cost = $ctrl.param.route.additional_data.cost; $ctrl.param.commission = $ctrl.param.route.additional_data.commission; $ctrl.param.commission2 = $ctrl.param.route.additional_data.commission2" placeholder="Masukan Rute" required></oi-select>
              <span ng-if="$ctrl.hasError('route')" class="help-block">{{$ctrl.error['route']}}</span>
            </div>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>
                    <input type="text" class="form-control readonly" readonly value="Komisi Supir">
                  </td>
                  <td>
                    <div class="form-group" ng-readonly="true">
                      <input type="text" autocomplete="off" data-lpignore="true" class="form-control text-right readonly" ng-input-currency ng-model="$ctrl.param.commission" ng-readonly="true">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="text" class="form-control readonly" readonly value="Komisi Kenek">
                  </td>
                  <td>
                    <div class="form-group" ng-readonly="true">
                      <input type="text" autocomplete="off" data-lpignore="true" class="form-control text-right readonly" ng-input-currency ng-model="$ctrl.param.commission2" ng-readonly="true">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="text" class="form-control readonly" readonly value="Uang Jalan">
                  </td>
                  <td>
                    <div class="form-group" ng-readonly="true">
                      <input type="text" autocomplete="off" data-lpignore="true" class="form-control text-right readonly" ng-input-currency ng-model="$ctrl.param.cost" ng-readonly="true">
                    </div>
                  </td>
                </tr>
                <tr ng-repeat="addon in $ctrl.param.addons">
                  <td>
                    <input type="text" autocomplete="off" data-lpignore="true" class="form-control" ng-class="{readonly: $ctrl.step_two == true}" ng-model="addon.item" placeholder="Nama Item" ng-readonly="$ctrl.step_two == true">
                  </td>
                  <td>
                    <input type="text" autocomplete="off" data-lpignore="true" class="form-control text-right" ng-class="{readonly: $ctrl.step_two == true}" ng-input-currency ng-model="addon.value" ng-readonly="$ctrl.step_two == true">
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">
                    <a class="btn btn-sm btn-default pull-right" ng-click="$ctrl.addons()" ng-hide="$ctrl.step_two == true">Tambah Biaya</a>
                    <a class="btn btn-sm btn-default pull-right" style="margin-right: 10px" ng-click="$ctrl.resetAddons()" ng-show="$ctrl.param.addons.length > 0 && $ctrl.step_two == false">Reset</a>
                  </td>
                </tr>
              </tfoot>
            </table>
            <p ng-show="$ctrl.step_two == true">
              <b>Kalkulasi Saldo</b>
            </p>
            <table class="table table-condensed" ng-if="$ctrl.step_two == true && $ctrl.loading == true">
              <tbody>
              <tr>
                <td>
                  <input type="text" class="form-control as-label" readonly value="Mohon tunggu">
                </td>
                <td>
                  <input type="text" autocomplete="off" data-lpignore="true" class="form-control text-right as-label" readonly value="....">
                </td>
              </tr>
              </tbody>
            </table>
            <table class="table table-condensed" ng-show="$ctrl.step_two == true && $ctrl.loading == false">
              <tbody>
              <tr>
                <td>
                  <input type="text" class="form-control as-label" readonly value="Saldo saat ini">
                </td>
                <td>
                  <input type="text" autocomplete="off" data-lpignore="true" class="form-control text-right as-label" readonly ng-input-currency ng-model="$ctrl.current_ballance">
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" class="form-control as-label" readonly value="Total Biaya">
                </td>
                <td>
                  <input type="text" autocomplete="off" data-lpignore="true" class="form-control text-right as-label" style="border-bottom: 1px solid #afafaf !important;" readonly ng-input-currency ng-model="$ctrl.total_cost">
                </td>
              </tr>
              <tr>
                <td>
                </td>
                <td>
                  <input type="text" autocomplete="off" data-lpignore="true" class="form-control text-right as-label" readonly ng-input-currency ng-model="$ctrl.remaining_ballance">
                </td>
              </tr>
              </tbody>
            </table>
            <div class="callout callout-danger" ng-if="$ctrl.step_two == true && $ctrl.loading == false && !$ctrl.isBallanceEnough()">
              <p>Sisa saldo tidak cukup</p>
            </div>
            <div class="callout callout-warning" ng-if="$ctrl.step_two == true && $ctrl.loading == false && $ctrl.isBallanceZero()">
              <p>Sisa saldo habis, segera request untuk topup!</p>
            </div>
            <div class="callout callout-warning" ng-if="$ctrl.step_two == true && $ctrl.loading == false && $ctrl.isBallanceNearlyLimit()">
              <p>Sisa saldo hampir habis, segera request untuk topup!</p>
            </div>
          </div>
          <div class="box-footer">
            <a class="btn btn-default pull-left" ng-click="$ctrl.back()">Kembali</a>
            <a class="btn btn-info pull-right" ng-hide="$ctrl.step_two == true" ng-click="$ctrl.submitStepTwo()">Lanjutkan</a>
            <a class="btn btn-info pull-right" ng-show="$ctrl.step_two == true && $ctrl.loading == false && !$ctrl.isBallanceEnough()" ng-click="$ctrl.submitStepTwo()">Hitung Ulang</a>
            <a class="btn btn-success pull-right" ng-show="$ctrl.step_two == true && $ctrl.loading == false && $ctrl.isBallanceEnough()" ng-click="$ctrl.submitLastStep()">Simpan</a>
          </div>
        </form>
        <div class="overlay" ng-if="$ctrl.loading == true">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->